%h1 All Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form'  do
  Includes:
  -@all_ratings.each do |rating|
    = check_box_tag 'ratings[]', rating, :default => 1
    = rating
  = submit_tag "Refresh", :id => 'ratings_submit'
  
%table#movies
  %thead
    %tr
      %th Row Number
      %th{:class => @sort=='title' ? 'hilite' : ''}= link_to 'Title',:order_by => :title, :id => 'title_header'
      %th Rating
      %th{:class => @sort=='release_date' ? 'hilite' : ''}= link_to "Release Date", :order_by => :release_date, :id => 'release_date_header'
      %th More Info
      %th Edit Movie
      %th Delete Movie
  %tbody
    - @movies.each do |movie|
      %tr
        %td= @movies.index(movie)
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Edit #{movie.title}", edit_movie_path(movie)
        %td= button_to "Delete #{movie.title}", movie_path(movie), :method => :delete, :comfirm => 'Are you sure?'

=link_to "Create new Movie", new_movie_path